<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head.ejs") %>
<body>
    <%- include("templates/navBar.ejs") %>
    <div class="text-center">
        <h1>Productos de <%=title%></h1>
        <%- include("templates/table.ejs") %>
        <button type="button" class="btn btn-warning btn-agregar">Agregar producto</button>
    </div>
    <script src="<%= '../scripts/' + title.toLowerCase() + '.js' %>"></script>
</body>
</html>