<!DOCTYPE html>
<html lang="en">
<%- include("templates/head.ejs") %>
<body>
    <%- include("templates/navBar.ejs") %>
    <div class="text-center">
        <h1>Proveedores</h1>
        <%- include("templates/table.ejs") %>
        <button type="button" class="btn btn-warning btn-add" id="btn_create" data-bs-toggle="modal" data-bs-target="#updateModal" >Agregar proveedor</button>
    </div>
    <%- include("templates/deleteModal.ejs") %>
    <%- include("templates/formModal.ejs") %>
    <script src="<%= '../scripts/suplier.js' %>"></script>
</body>

</html>